<!-- src/app/pages/home/home.component.html -->
<div class="container m-5">
    <div class="card shadow-lg p-3 d-flex flex-column justify-content-center align-items-center">
        <div class="btn btn-success btn-lg m-2" >Medals per Country</div>
        <div>
            <div class="btn btn-outline-success text-secondary m-2">
                Number of JOs<br>
                <strong class="text-dark">{{ numberOfJOs }}</strong>
            </div>
            <div class="btn btn-outline-success text-secondary m-2">
                Number of Countries<br>
                <strong class="text-dark">{{ numberOfCountries }}</strong>
            </div>
        </div>
        <div class="chart-container">
            <ngx-charts-pie-chart
                [view]="view"
                [scheme]="'cool'"
                [results]="chartData"
                [gradient]="gradient"
                [labels]="showLabels"
                [doughnut]="isDoughnut"
                (select)="onSelect($event)"
                class="custom-chart"
            >
            </ngx-charts-pie-chart>
        </div>
    </div>
</div>
<ng-template #loading>
<p>Chargement des données...</p>
</ng-template>
  



