<!-- src/app/pages/home/home.component.html -->
<div class="container m-5">
    <div class="card shadow-lg p-5">
        <div class="col">
            <h2>Liste des pays participants</h2>
            <ul>
                <li *ngFor="let olympic of olympics$ | async">
                    {{ olympic.country }} - Participations : {{ olympic.participations.length }}
                    <ul>
                        <li *ngFor="let participation of olympic.participations">
                            {{ participation.year }} à {{ participation.city }} : {{ participation.medalsCount }} médailles
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>
<ng-template #loading>
<p>Chargement des données...</p>
</ng-template>
  



<!-- <h2>Olympic games app</h2>
<hr />
<p>{{ (olympics$ | async)?.length }} data loaded</p> -->
